{% extends "base_index.html" %}
{% block title %}
  simplestyle_banner - another page
{% endblock %}
{% block style %}
	{% include "style.html" %}
{% endblock %}
{% block menu %}
	{% include "main_menu.html" %}
{% endblock %}
{% block body %}
	<div id="site_content">

		<div id="content">
		<a href="/create_course/?id={{id}}">Create new course</a>

			<h2>Lists course</h2>
			<ul>
				{% for item in object_list%}
				<li>
					{{item.name}} <a href="/create_copy_course/?id={{item.id}}">Copy course</a>

				</li>
        		{% endfor %}

			</ul>
		</div>
	</div>
{% endblock %}
{% block footer %}
	{% include "footers.html" %}
{% endblock %}